.filepond--action-edit-item.filepond--action-edit-item{
    padding: 3rem;
    display: flex;
    margin-block: 3% !important;
    position: absolute;
}
.filepond--action-edit-item.filepond--action-edit-item:after{
    content: "قص الصورة";
    position: absolute;

    display: flex;

    border-radius: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    aspect-ratio: 1;
}
.filepond--file-action-button.filepond--file-action-button svg{
    display: none;
}
.filepond--file [data-align*="center"] {
    left: calc(50% - 2.813em);
}

