.filepond--file-action-button.filepond--file-action-button svg {
    height: 70%;
    width: 100%;
}

.filepond--action-edit-item.filepond--action-edit-item[data-align*=bottom] {
    margin-bottom: 3em;
}

.filepond--action-edit-item.filepond--action-edit-item[data-align*=center] {
    margin-left: -1.5em;
}



.filepond--action-edit-item.filepond--action-edit-item {
    width: 100px;
    height: 100px;
}



.filepond--action-edit-item.filepond--action-edit-item:after {
    content: "قص الصورة";
    position: absolute;
    top: 27px;
    /* width: 100px; */
    display: flex;
    /* background-color: #0009; */
    border-radius: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    aspect-ratio: 1;
}
