*{
    font-family: almarai, serif;
}
a{
    color: var(--gray-text);
    text-decoration: none;
}
option>img{
    width: 30px;
    aspect-ratio: 3/1;
}
:root{
    --gray-bg:#F5F6FA;
    --gray-text:#4E5468;
    --white:#FFFFFF;
    --red:#e30613;
    --red-accent:#ff5f57;
    --gold:#FFCC00;
    --blue-accent: #0080ff
}
.fs-7{
    font-size: 0.7rem;
}
.bg-gray {
    background-color: var(--gray-bg);
}
.text-gray{
    color: var(--gray-text)!important;
}
.bg-red{
    background-color: var(--red);
    color: var(--white);
}
.text-red{
    color: var(--red);
}
.bg-red:hover{
    background-color: var(--white);
    color:  var(--red);
    border: var(--red) 1px solid;
}
.bg-red-accent{
    background-color: var(--red-accent);
    color: var(--white);
}
.text-red-accent{
    color: var(--red-accent);
}
.btn-red-accent{
    background-color: var(--red-accent);
    border: 1px solid var(--red-accent);
}
.bg-red-accent:hover{
    background-color: var(--white);
    color:  var(--red-accent);
    border: var(--red-accent) 1px solid;
}
.bg-gold{
    background-color: var(--gold);
    color: var(--white);
}
.text-gold{
    color: var(--gold);
}
.bg-gold:hover{
    background-color: var(--white);
    color:  var(--gold);
    border: var(--gold) 1px solid;
}
.text-blue-accent{
    color: var(--blue-accent);
}
.divider{
    border-top:1px solid var(--gray-text);

}
.cursor-pointer{
    cursor: pointer;
}
/*NavBar Component*/
.transparent,.transparent:hover, .transparent:active{
    background-color: transparent;
    border: none;
    outline: none;
}

.search-icon-navbar {
    top: 5px;
    left: 5px;
}
.logo{
    max-height: 45px;
    aspect-ratio: 25/35;
}
/*Auth Component*/
.nav-tabs {
    border: none;
}

.nav-tabs .nav-item, .nav-tabs .nav-item .nav-link {
    background-color: var(--gray-bg);
    border-radius: 0;
    border: none !important;
}

.nav-tabs .nav-item:hover, .nav-tabs .nav-item .nav-link:hover {
    background-color: var(--gray-bg);
    border: none !important;
    color: var(--gray-text);
}

.nav-tabs .nav-item .nav-link.active {
    background-color: var(--white);
}
/*Phone Component*/
.input-group.ltr > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(-1 * var(--bs-border-width));
    border-radius: 10px 0 0 10px;
}
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-radius: 0 10px 10px 0;
}
/*ProductCard*/
.card-address{
    height: 25px;
    max-height: 25px;
   max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.seller-name{

    overflow: hidden;


    max-height: 25px;
    height: 25px;
}
.img-card-product{
    height: 130px;
}
.radius-10{
    border-radius: 10px;
}
/*EstateCard*/
.estate-card {
    background: #fff;
    height: 138px;
}

.estate-image {

    position: relative;
}
.estate-card .carousel-inner{
    width: 275px ;
}
.estate-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-indicators button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
}
.slider-img{
    width: 275px !important;
    aspect-ratio: 2/1 !important;
    object-fit: cover;
}
