/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .sticky-col {
        position: relative;


    }

    .scroll-col {
        max-height: none; /* ارتفاع الشاشة ناقص الهيدر */
        overflow-y: auto; /* تفعيل التمرير */
        padding-right: 10px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .sticky-col {
        position: relative;


    }

    .scroll-col {
        max-height: none; /* ارتفاع الشاشة ناقص الهيدر */
        overflow-y: auto; /* تفعيل التمرير */
        padding-right: 10px;
    }
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Add responsive styles here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Add responsive styles here */
}

/* High-resolution mobile devices in landscape mode */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* Add responsive styles here */
}

/* Extra extra large devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* Add responsive styles here */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}
/*BreadCrumb*/
