RewriteEngine on
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) public/$1 [L]
Options -Indexes

#<IfModule mod_headers.c>
#    Header set Access-Control-Allow-Origin "http://192.168.6.82"
#    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
#    Header set Access-Control-Allow-Headers "Origin, Content-Type, X-Auth-Token, X-Requested-With, Authorization"
#</IfModule>
